.form-buttons-container {
    display: flex;
    margin-top: 4px;
}

.form-back-button {
    margin: 0 0 0 auto;
}

.form-start-date-input {
    margin-left: 8px;
}

.form-daily-task-header {
    display: inline-flex;
    margin-left: 4px;
    min-width: 166px;
}

.form-daily-task-header:first-of-type {
    margin-left: 44px;
}

.form-daily-tasks-count,
.form-weekly-tasks-count {
    font-size: 10px;
}

.invalid-form-input {
    border: 4px red solid;
}