.table-col-day-header {
    width: 48px;
}

.table-col-input {
    align-items: center;
    display: flex;
    width: 100%;
}

.points-display-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
}

.points-display-name.padded {
    margin-left: 4px;
}

.points-display-name.small {
    font-size: 14px;
    font-weight: 600;
}

.points-display-value {
    font-size: 10px;
    margin: 0 8px;
}

.weekly-tasks-header {
    margin-bottom: 0;
}

.weekly-tasks-wrapper {
    display: flex;
}

.table-grey-row {
    background-color: lightgray;
}