.FormButtonsContainer {
    display: flex;
    margin-top: 4px;
}

.FormBackButton {
    margin: 0 0 0 auto;
}

.FormStartDateInput {
    margin-left: 8px;
}

.FormDailyTaskHeader {
    display: inline-flex;
    margin-left: 4px;
    min-width: 166px;
}

.FormDailyTaskHeader:first-of-type {
    margin-left: 44px;
}

.InvalidFormInput {
    border: 4px red solid;
}